/* 

0-600px: Phone
600-900px: tablet portrait
900-1200px: tablet landscape
(1200-1800) is where our normal styles apply
1800px + : big desktop

*/
/*
$brekapoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  /* 10 px about */ }

body {
  box-sizing: border-box; }

.container {
  height: 100%; }

.wrapper {
  display: flex;
  flex-direction: column;
  flex: 1; }

.content {
  display: flex;
  flex-direction: column;
  flex: 1; }

body {
  font-family: "Lato", sans-serif;
  line-height: 1.7;
  color: #eeeeee; }

.heading-primary {
  padding: 1rem;
  color: #232323; }

.heading-primary--main {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  display: block;
  text-align: center;
  line-height: 1;
  font-size: 2.6rem;
  padding: 0.5rem; }
  @media only screen and (max-width: 600px) {
    .heading-primary--main {
      font-size: 2rem; } }

.heading-primary--sub {
  font-family: "Montserrat", sans-serif;
  font-weight: lighter;
  display: block;
  text-align: center;
  line-height: 1; }
  @media only screen and (max-width: 600px) {
    .heading-primary--sub {
      font-size: 1.5rem; } }

.mission-text {
  text-transform: uppercase;
  font-size: 1.6rem;
  padding: 2rem;
  text-align: center; }

.description-text {
  font-size: 1.6rem;
  text-transform: none;
  text-align: justify;
  padding: 1rem 0 1rem 0; }

.all-tracks-heading {
  font-size: 2rem; }

.track-description, .address-line {
  font-size: 1.6rem; }

.track-info-upcoming {
  font-size: 1.6rem; }

.infobox-header-sub, .infobox-header-main {
  text-transform: uppercase; }

.infobox-header-main {
  font-size: 1.8rem; }

.infobox-header-sub {
  color: #707070;
  font-size: 1rem; }

.infobox-text {
  margin-bottom: 6rem;
  font-size: 1.2rem; }

.partners-heading {
  font-size: 2rem; }

.partners-description {
  font-size: 1.6rem; }

.footer {
  min-height: 20rem;
  font-size: 1.6rem; }

.bold {
  font-weight: 700; }

i {
  color: white; }

.fa-facebook {
  font-size: 2.6rem; }

.button-box {
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: flex-end;
  justify-content: flex-end;
  flex-wrap: wrap;
  min-height: 10vh;
  margin-right: 5rem; }
  @media only screen and (max-width: 600px) {
    .button-box {
      margin-right: 0;
      justify-content: center; } }

.button-box__button {
  /* max-width:200px; */
  margin-left: 7rem;
  margin-right: 7rem; }

.btn-interact:link, .btn-interact:visited {
  text-transform: uppercase;
  color: #232323;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 700; }

.btn-interact:hover {
  color: #efefef; }

.btn:link,
.btn:visited {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 70%;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  color: #eeeeee;
  /*margin-top: 50px;*/
  transition: 1s ease-in-out; }

.btn-magenta {
  border: #E60C85 0.1rem solid;
  height: 4rem;
  /*box-shadow: 3px 3px 5px 6px #ccc*/ }

.btn-white {
  height: 4rem;
  border: #eee 1px solid;
  transform: translate(5px, 5px); }

.btn-text {
  display: block;
  transform: translate(-5px, 5px); }

.btn:hover .btn-white {
  transform: translate(0px, 0px); }

.btn:active .btn-magenta {
  background-color: #E60C85; }

.btn-footer:link,
.btn-footer:visited {
  text-decoration: none;
  color: #eee;
  text-transform: uppercase;
  margin: 0.5rem; }

.apply-btn {
  width: 100%;
  padding: 2rem 4rem;
  margin-top: 5%;
  background: none;
  color: #eeeeee;
  border: none;
  position: relative;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 3px;
  cursor: pointer;
  font-size: 1.5rem; }
  @media only screen and (max-width: 600px) {
    .apply-btn {
      font-size: 1.2rem; } }

.apply-btn:focus {
  outline: none; }

.apply-btn:after,
.apply-btn:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border: 0.2rem solid #ec008b;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s; }

.apply-btn:after {
  -webkit-transform: translate(3px, 3px);
  transform: translate(3px, 3px);
  border-color: #35E2DF; }

.apply-btn:before {
  -webkit-transform: translate(-3px, -3px);
  transform: translate(-3px, -3px); }

.apply-btn:hover:after,
.apply-btn:hover:before {
  -webkit-transform: translate(0);
  transform: translate(0);
  border: 2px solid transparent;
  background-color: transparent;
  border-image: linear-gradient(to right, #ec008b, #35E2DF);
  border-image-slice: 1; }

.content-box {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-wrap: wrap;
  color: #232323;
  width: 80%; }

.description-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

.line-middle {
  background-color: #E60C85;
  height: 0.2rem;
  align-items: center;
  flex-basis: 100%;
  clip-path: polygon(40% 0%, 60% 0%, 60% 100%, 40% 100%); }

.line-left {
  background-color: #E60C85;
  height: 0.2rem;
  align-items: center;
  flex-basis: 100%;
  clip-path: polygon(0 0, 25% 0, 25% 100%, 0 100%); }

.junction-description-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 70%; }

.description-text-box {
  padding: 1rem 0 1rem 0;
  max-width: 80rem; }

.infoboxes {
  width: 100vw;
  display: flex;
  flex-direction: row;
  text-align: center;
  /*max-width: 1000px;*/
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; }

.infobox {
  margin: 2.5rem;
  padding: 3rem;
  position: relative;
  max-width: 40rem; }

.infoboxes {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.partner-boxes-box {
  margin-top: 5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

.partner-box {
  height: 20rem;
  width: 20rem;
  border: 0.1rem solid #E60C85;
  margin: 0.5rem 0.5rem; }

.partner-logo {
  max-width: 80%;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); }

.track-description-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  color: #232323;
  width: 80%;
  text-align: center; }

input {
  position: absolute;
  opacity: 0;
  z-index: -1; }

/* Accordion styles */
.tabs {
  border-radius: 0.8rem;
  overflow: hidden;
  box-shadow: 0 0.4rem 0.4rem -0.2rem rgba(0, 0, 0, 0.5);
  max-width: 60rem;
  align-self: center; }

.tab {
  width: 100%;
  color: white;
  overflow: hidden; }
  .tab-label {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background: linear-gradient(130deg, #3f0041, #29002a);
    font-size: 1.6rem;
    font-weight: bold;
    cursor: pointer;
    /* Icon */ }
    .tab-label:hover {
      background: linear-gradient(130deg, #350037, #1f0020); }
    .tab-label::after {
      content: "\276F";
      width: 1rem;
      height: 1rem;
      text-align: center;
      transition: all 0.35s; }
  .tab-content {
    max-height: 0;
    padding: 0 1rem;
    color: #232323;
    background: white;
    transition: all 0.35s;
    font-size: 1.6rem; }
  .tab-close {
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
    font-size: 1.6rem;
    background: linear-gradient(130deg, #3f0041, #29002a);
    cursor: pointer; }
    .tab-close:hover {
      background: linear-gradient(130deg, #350037, #1f0020); }

input:checked + .tab-label {
  background: linear-gradient(130deg, #350037, #1f0020); }
  input:checked + .tab-label::after {
    transform: rotate(90deg); }

input:checked ~ .tab-content {
  max-height: 100vh;
  padding: 1rem; }

.header {
  height: 95vh;
  background-image: url(images/header_image/header_image.png);
  background-size: cover;
  background-position: top;
  position: relative; }
  @media only screen and (max-width: 600px) {
    .header {
      height: 60vh; } }

.header__box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 80rem; }

.header__box--logo {
  max-width: 100%; }

.logo {
  max-width: 100%; }

.page {
  flex-direction: row;
  flex-flow: row wrap;
  position: relative;
  min-height: 80vh;
  overflow: visible;
  flex-shrink: 0; }

.halfpage {
  height: 68rem; }

.junction-description {
  background-image: url(images/bg/bg.png); }
  @media only screen and (max-width: 600px) {
    .junction-description {
      min-height: 150vh; } }
  @media screen and (max-width: 900px) {
    .junction-description {
      min-height: 150vh; } }

.mission, .agenda {
  background-color: #000; }

.tracks {
  min-height: 50vh; }

.tracks,
.partners {
  position: relative;
  background-color: #f5f2f2; }

.tracks p {
  color: #232323;
  padding: 1rem 0 1rem 0; }

.all-tracks-heading,
.track-description-heading-primary {
  text-transform: uppercase; }

.track-description-heading-primary {
  line-height: 1; }

.track-description-heading-main {
  display: block;
  font-weight: 700; }

.track-description-heading-sub {
  font-size: 1rem;
  display: block;
  padding: 0.5rem 0 0.5rem 0; }

.track {
  padding: 2rem 0 2rem 0; }

.partners {
  display: flex;
  flex-direction: column;
  min-height: 50rem; }
  @media screen and (max-width: 900px) {
    .partners {
      min-height: 70rem; } }
  @media only screen and (max-width: 600px) {
    .partners {
      min-height: 100rem; } }

.recruit {
  background-image: linear-gradient(#000000, #232323); }

.partners-heading {
  text-transform: uppercase; }

.footer {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(#000000, #232323); }
  @media only screen and (max-width: 600px) {
    .footer {
      height: 20vh; } }

.buttons {
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  padding: 0.4rem 0.2rem; }

.buttons:before,
.buttons:after {
  content: "";
  display: block;
  width: 2px; }

.faq {
  display: flex;
  background-color: #000;
  color: #fbfbfb; }
  @media screen and (max-width: 900px) {
    .faq {
      min-height: 150vh; } }
  @media only screen and (max-width: 600px) {
    .faq {
      min-height: 120vh; } }

.faq .heading-primary--main {
  margin-bottom: 1rem;
  color: #fbfbfb; }

.agenda {
  min-height: 50rem; }
  @media only screen and (max-width: 600px) {
    .agenda {
      min-height: 40rem; } }

.agenda .content-box {
  max-width: 720px;
  max-height: 389px;
  height: auto; }
  @media only screen and (max-width: 600px) {
    .agenda .content-box {
      width: 100%; } }

.agenda-img {
  width: 100%; }

.location {
  color: black;
  min-height: 70rem;
  background-color: #f5f2f2; }
  .location iframe {
    align-self: center;
    margin-top: 3rem; }
    @media only screen and (max-width: 600px) {
      .location iframe {
        width: 100%;
        height: 30rem; } }

.address-box {
  max-width: 60rem;
  align-self: center;
  margin-top: 3rem; }

.social-media-buttons {
  display: flex;
  justify-content: center; }
