@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

// MEDIA QUERY MANAGER

/* 

0-600px: Phone
600-900px: tablet portrait
900-1200px: tablet landscape
(1200-1800) is where our normal styles apply
1800px + : big desktop

*/ 

@mixin respond-phone {
    @media (max-width: 600px) { @content };
}

@mixin respond-phone-landscape {
    @media (max-width: 900px) { @content };
}

/*
$brekapoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop
*/

@mixin respond($breakpoint) {

    @if $breakpoint == phone {
        @media only screen and (max-width: 600px) { @content };
    } 
    @else if $breakpoint == phoneland {
        @media screen and (max-width: 900px) { @content };
    } 
}