/*
COLORS:

Dark Grey: #232323
Very Light Grey: #F5F2F2;
Light Grey: #9A9A9A
Grey: #707070
Magenta: #E60C85;

*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #eeeeee;
}

h1 {
  font-size:2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.25em;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
    height: 100vh;
}

.page {
    height: 95vh;
    flex-direction: row;
    flex-flow: row wrap;
    position: relative;
}

.halfpage {
  height: 70vh;
}

.header {
    background-image: url(images/header_image/header_image.png);
    background-size: cover;
    background-position: top;
    position: relative;
}

.header-box, .infoboxes {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo {
}

.heading-primary {
  padding: 10px;
}

.heading-primary-main {
    display: block;
    text-align: center;
    line-height: 1;
    font-size: 1.5em;
    padding: 5px;
}

.heading-primary-sub {
    display: block;
    text-align: center;
    line-height: 1;
}

.footer {
    min-height: 200px;
}

.button-box {
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: flex-end;
  justify-content: flex-end;
  flex-wrap: nowrap;
  min-height: 10vh;
}

.button {
  /* max-width:200px; */
  margin-left: 70px;
  margin-right: 70px;
}

.button-box a {
  text-transform: uppercase;
  color: black;
  text-decoration: none;
  font-size: 0.8em;
}

.mission {
  background-color: #000;
}

.description-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.line-middle {
  background-color: #E60C85;
  height: 2px;
  align-items: center;
  flex-basis: 100%;
  clip-path: polygon(40% 0%, 60% 0%, 60% 100%, 40% 100%);
}

.line-left {
  background-color: #E60C85;
  height: 2px;
  align-items: center;
  flex-basis: 100%;
  clip-path: polygon(0 0, 25% 0, 25% 100%, 0 100%);
}

.description-text {
  text-transform: uppercase;
  font-size: 1.3em;
  padding: 20px;
  text-align: center;
}

.bold {
  font-weight: 700;
}

.junction-description {
  background-image: /*linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), */url(images/bg/bg.png);
}

.junction-description-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 70%;
}

.description-text-box {
  padding: 10px 0 10px 0;
}

.description-text-box p {
  font-size: 1em;
  text-transform: none;
  text-align: left;
  padding: 10px 0 10px 0;
}

.tracks {
  position: relative;
  background-color: #F5F2F2;
}

.tracks p {
  color: #232323;
  padding: 10px 0 10px 0;
}

.track-description-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color: #232323;
  width:80%;
}

.all-tracks-heading, .track-description-heading-primary {
  text-transform:  uppercase;
}

.track-description-heading-primary{
  line-height: 1;
}

.track-description-heading-main {
  display:block;
  font-weight: 700;
}

.track-description-heading-sub {
  font-size: 0.6em;
  display:block;
  padding:5px 0 5px 0;
}



.track {
  padding: 20px 0 20px 0;
}

.recruit {
  background-image: linear-gradient(#000000, #232323);
}