/*
COLORS:

Dark Grey: #232323
Very Light Grey: #F5F2F2;
Light Grey: #9A9A9A
Grey: #707070
Magenta: #E60C85;

*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #eeeeee;
}

h1 {
  font-size:2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.25em;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
    height: 100vh;
}

.page {
    /*height: 95vh;*/
    height: 920px;
    flex-direction: row;
    flex-flow: row wrap;
    position: relative;
}

.halfpage {
  height: 680px;
}

.header {
    background-image: url(images/header_image/header_image.png);
    background-size: cover;
    background-position: top;
    position: relative;
}

.header-box, .infoboxes {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo {
  width: 80vw;
}

.heading-primary {
  padding: 10px;
  font-size: 3vw;
}

.heading-primary-main {
    display: block;
    text-align: center;
    line-height: 1;
    font-size: 1.5em;
    padding: 5px;
}

.heading-primary-sub {
    display: block;
    text-align: center;
    line-height: 1;
}

.footer {
    min-height: 200px;
}

.button-box {
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: flex-end;
  justify-content: flex-end;
  flex-wrap: wrap;
  min-height: 10vh;
  margin-right: 50px;
}

.button {
  /* max-width:200px; */
  margin-left: 70px;
  margin-right: 70px;
}

.btn-interact:link, .btn-interact:visited {
  text-transform: uppercase;
  color: #232323;
  text-decoration: none;
  font-size: 1.5em;
  font-weight: 700;
}

.mission {
  background-color: #000;
}

.description-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.line-middle {
  background-color: #E60C85;
  height: 2px;
  align-items: center;
  flex-basis: 100%;
  clip-path: polygon(40% 0%, 60% 0%, 60% 100%, 40% 100%);
}

.line-left {
  background-color: #E60C85;
  height: 2px;
  align-items: center;
  flex-basis: 100%;
  clip-path: polygon(0 0, 25% 0, 25% 100%, 0 100%);
}

.description-text {
  text-transform: uppercase;
  font-size: 1.3em;
  padding: 20px;
  text-align: center;
}

.bold {
  font-weight: 700;
}

.junction-description {
  background-image: /*linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), */url(images/bg/bg.png);
}

.junction-description-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 70%;
}

.description-text-box {
  padding: 10px 0 10px 0;
}

.description-text-box p {
  font-size: 1em;
  text-transform: none;
  text-align: left;
  padding: 10px 0 10px 0;
}

.tracks, .partners {
  position: relative;
  background-color: #F5F2F2;
}

.tracks p {
  color: #232323;
  padding: 10px 0 10px 0;
}

.track-description-box, .partners-content-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color: #232323;
  width:80%;
}

.all-tracks-heading, .track-description-heading-primary {
  text-transform:  uppercase;
}

.track-description-heading-primary{
  line-height: 1;
}

.track-description-heading-main {
  display:block;
  font-weight: 700;
}

.track-description-heading-sub {
  font-size: 0.6em;
  display:block;
  padding:5px 0 5px 0;
}

.track {
  padding: 20px 0 20px 0;
}

.recruit {
  background-image: linear-gradient(#000000, #232323);
}

.infoboxes {
  width: 100vw;
  display: flex;
  flex-direction: row;
  text-align: center;
  /*max-width: 1000px;*/
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.infobox {
  margin: 25px;
  padding: 30px;
  position: relative;
  max-width: 600px;
}
.infobox-header-sub, .infobox-header-main {
  text-transform: uppercase;
}

.infobox-header-sub {
  color: #9A9A9A;
  font-size: 1em;
}

.infobox-text {
  margin-bottom: 50px;
}
.btn:link, 
.btn:visited {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, 0%);

  text-transform: uppercase;
  text-decoration: none;
  display:inline-block;
  color: #eeeeee;
  width: 180px;
  /*margin-top: 50px;*/
  transition: 1s ease-in-out;
}

.btn-magenta {
  border: #E60C85 1px solid;
  height: 40px;
  /*box-shadow: 3px 3px 5px 6px #ccc*/
}

.btn-white {
  height: 40px;
  border: #eee 1px solid;
  transform: translate(5px, 5px);
}

.btn-text {
  display: block;
  transform: translate(-5px, 5px);
}

.btn:hover .btn-white {
  transform: translate(0px, 0px);
}

.btn:active .btn-magenta {
  background-color: #E60C85;
}

.partners {
  display: flex;
  flex-direction: column
}
.partners-content-box {
  flex-direction: column;
}

.partner-boxes-box {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.partner-box {
  height: 200px;
  width: 200px;
  border: 1px solid #E60C85;
  margin: 5px 5px;
}

.partner-logo {
  max-width: 80%;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.partners-heading {
  text-transform: uppercase;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-image: linear-gradient(#000000, #232323);
}

.buttons {
  display: flex;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  padding: 40px 20px;
}

.btn-footer:link {
  text-decoration: none;
  color: #eee;
  text-transform: uppercase;
}

/* MEDIA QUERIES */



/*
 * Author: http://stuffandnonsense.co.uk/blog/about/hardboiled_css3_media_queries/
 */

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
/* Styles */
  .tracks .all-tracks-heading {
    font-size: 1.5em;
  }
  .tracks .track-description-heading-primary {
    font-size: 1.125em;
  }
  
  .tracks .track-description-heading-sub {
    font-size: 0.45em;
  }

  .tracks p {
    font-size: 0.85em;
  }

  .partners {
    height: 120vh;
  }
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
/* Styles */
  .tracks {
    height: 150vh;
  }

  .partners {
    height: 150vh;
  }

  .tracks .all-tracks-heading {
    font-size: 1.5em;
  }
  .tracks .track-description-heading-primary {
    font-size: 1.125em;
  }
  
  .tracks .track-description-heading-sub {
    font-size: 0.45em;
  }

  .tracks p {
    font-size: 0.85em;
  }
}

@media only screen 
and (min-device-width : 511px)
and (max-device-width : 767px) {
  .tracks .all-tracks-heading {
    font-size: 1.5em;
  }
  .tracks .track-description-heading-primary {
    font-size: 1.125em;
  }
  
  .tracks .track-description-heading-sub {
    font-size: 0.45em;
  }

  .tracks p {
    font-size: 0.85em;
  }
}
/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */
  .tracks .all-tracks-heading {
    font-size: 1.5em;
  }
  .tracks .track-description-heading-primary {
    font-size: 1.125em;
  }
  
  .tracks .track-description-heading-sub {
    font-size: 0.45em;
  }

  .tracks p {
    font-size: 0.85em;
  }

}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
/* Styles */
  .tracks .all-tracks-heading {
    font-size: 1.5em;
  }
  .tracks .track-description-heading-primary {
    font-size: 1.125em;
  }
  
  .tracks .track-description-heading-sub {
    font-size: 0.45em;
  }

  .tracks p {
    font-size: 0.85em;
  }
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}